/*ОБЩИЕ*/

body {font-family: verdana, Arial, Geneva CY, sans-serif;
background-color:#F7F7F7;
margin:0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
font-size:12px;}

hr {
border:1px dashed #e3e3e3;
margin-bottom:0px;}

.left {
padding: 0px 0px 15px 15px;
}

.footered {
background:transparent url(images/forum-bg.png) repeat-y left;
border-bottom:1px solid #e3e3e3;
margin-top:0px;
}

.liveinternet {
 display:none;}

input {
	background: #f4f4f4;
	border: 1px solid #b2b2b2;
	color: #000;
	font:  13px Verdana, Arial, Helvetica, sans-serif;
	margin: 1px;
	padding: 3px;
}

/*ХЕДЕР*/

.logo {
margin-top:10px;
width:320px;
height:60px;

float:left;
margin-bottom:20px;
text-align:left;}

.arrow {
padding-top:10px;
float:right;
margin-left:10px;}

.browse {
float:right;
width: 250px;
height: 70px;
top: 0px;
text-align:right;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:24px;
color:#AAAAAA;
padding:10px 10px 5px 5px;
border-right:1px solid #e3e3e3;
border-left:1px solid #e3e3e3;
border-bottom:1px solid #e3e3e3;
}

.browse a {
margin-top:10px;
color:#AAAAAA;
}

.browse span a {
font-size:20px;
margin-top:10px;
color:#AAAAAA;
}

.browse a:hover {
color:#FF3300;
}

.search {
padding-top:5px;
font-size:16px;
color:#AAAAAA;
}

.search input {
font: 1.2em 'Lucida Grande', Verdana, Arial, Sans-Serif;
width: 170px;
background-color:#FFFFCC;
border: 1px solid #b2b2b2;
color:#4B8ABF;
padding: 3px;
margin: 0px 0px 0px 0px;
}

.search select {
font: 1.1em 'Lucida Grande', Verdana, Arial, Sans-Serif;
width: 225px;
background-color:#FFFFCC;
border: 1px solid #b2b2b2;
color:#4B8ABF;
padding: 3px;
margin: 0px 0px 0px 0px;
}

.register{
margin-right:15px;
font-size:11px;
}

.register a {
color:#4B8ABF;
text-decoration:underline
}

/*****************/

input.searchbox {
width:99%;
height:21px;
margin:22px 0px 0px 1px;
padding:2px 3px 2px 3px;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
border: 1px solid #B2B2B2;
background-color:#F6F6F6;
}

input.searchbutton {
	width:66px;
	height:27px;
	background-image: url(/images/searchbutton.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border:0px;
	cursor:pointer;
	color:#666666;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	padding:0px 0px 0px 0px;
	margin:22px 0px 0px 1px;
	text-align:center;
}
input.searchbutton:hover {
	background-position: 0px 0px;
}

/*КОНТЕНТ*/

/*ЗАГОЛОВОК*/

H1 {
clear:left;
font-family:Georgia, "Times New Roman", Times, serif;
color:#FF3300;;
font-size:24px;
font-weight:normal;
margin-top:10px;
margin-bottom:0px;
text-align:left;}

H1 a {
color:#FF3300;
text-decoration:none;}


H1 .h1link {
font-size:14px;
color:#AAAAAA;
}

H1 .h1link a {
font-size:14px;
color:#AAAAAA;
text-decoration:underline;
}

H1 .h1link a:hover {
color:#FF3300;
}

H1 img {
margin-right:5px;
float:none;}


.details {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#333333;
text-align:left;
text-decoration:none;
padding:0px 0px 0px 0px;
}

.details a{
color:#4B8ABF;
text-decoration:underline;
margin-bottom:0px;}


.intro {
background-color:#F9F9F9;
padding:10px 10px 10px 10px;
font-size:12px;
text-align:left;
margin-bottom:15px;}

.intro a {
color:#4B8ABF;
text-decoration:underline;}

.intro ul {
margin: 0px 0px 0px 0px;
padding: 0;
list-style-image: url(images/message.gif);
list-style-position: inside;
marker-offset:5px;
}

.intro il {

}


.intro img {
border:0;}

.forumlink {
text-align:right;
float:right;
margin-left:10px;
background-color:#FFFFFF;
border:2px solid #FFFFFF;
}

.forumlink a {
text-decoration:none;
font-size:10px;}

.tool_vs {
text-align:left;
margin-bottom:10px;
margin-top:10px;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:16px;
color:#999999;
}

.tool_vs a{
color:#999999;
}

/* SIDEBAR */


.discount_sidebar {
width:280px;
height: 50px;
padding: 0px 10px 10px 10px; 
margin-top: 10px;
margin-bottom:0px;
background-color:#FCFCFC;
border:1px solid #CC0000;
font-size:14px;
}

.discount_sidebar img {
border-top:1px solid #CC0000;
float:left;
margin-right:10px;
}

.discount_sidebar_title {
padding-top: 5px;
padding-bottom: 5px;
text-align:left;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:18px;
font-weight:normal;
}

.discount_sidebar_title a {
color:#CC0000;
text-decoration:underline;
}

.discount_sidebar a a:hover {
color:#4B8ABF;
text-decoration:underline;
}

.countdown {
font-family: verdana, Arial, Geneva CY, sans-serif;
font-size:14px;
}


.section {
text-align:left;
clear:left;
margin-bottom:5px;
}

.section img {
float:left;
margin-right:10px;
margin-bottom:5px;}

.topic {
text-align:left;
}

.topic a {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:18px;
color:#999999;
}

.topic a:hover {
color:#1E9B3D;}

.atopic {
text-align:left;
}

.atopic a {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:18px;
color:#1E9B3D;
}

.subtopic {
text-align:left;
padding-top:2px;
padding-buttom:2px;
}

.subtopic a {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:15px;
color:#888888;
}

.subtopic a:hover {
color:#1E9B3D;}

.asubtopic {
text-align:left;
padding-top:2px;
padding-buttom:2px;
}

.asubtopic a {
font-family:Georgia, "Times New Roman", Times, serif;
font-size:15px;
color:#1E9B3D;
}

H3 {
font-family:Georgia, "Times New Roman", Times, serif;
color:#FF3300;;
font-size:20px;
font-weight:normal;
margin-top:10px;
margin-bottom:10px;
text-align:left;
}

.tags {
text-align:justify;
margin-top:20px;
margin-right:5px;
font-family:Georgia, "Times New Roman", Times, serif;
}

.tags a {
color:#999999;
text-decoration:none;
}

.tags a:hover {
color:#4B8ABF;
text-decoration:none;
}

H4 {
color:#1F9C3E;
text-align:left;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:18px;
font-weight:normal;
margin-bottom:0px;
margin-top:0px;
}

H4 a {
color:#1F9C3E;
text-decoration:underline;
}

H4 a:hover {
color:#4B8ABF;
}

.sidebar_news {
color:#999999;
font-size:11px;
margin-top:15px;
text-align:justify;
padding-right:10px;
}

.sidebar_news a {
color:#333333;
text-decoration:none;
}

.sidebar_news a:hover {
color:#FF0000;
text-decoration:none;
}

/*РЕКЛАМА*/

.ads-vertical {
width:200px;
float:right;
font-size:12px;
margin-top:23px;
margin-left:10px;
padding: 10px 10px 0px 10px;
text-align:center;
border:1px solid #e3e3e3;
background-color:#FFFFFF;}

.ads-index {
width:200px;
float:right;
font-size:12px;
margin-top:30px;
margin-left:10px;
padding: 10px 10px 0px 10px;
text-align:center;
border:1px solid #e3e3e3;
background-color:#FFFFFF;}

.ads-rating {
float:right;
margin-top:111px;
margin-left:10px;
padding: 10px 10px 0px 10px;
text-align:center;
border:1px solid #e3e3e3;
background-color:#FFFFFF;}

.ads-footer {
font-size:12px;
display:block;
margin-top:10px;
margin-bottom:5px;
background-color:#FFFFFF;}

.ads-half {
display:block;
margin-top:10px;
text-align:left;
}

.ads_title {
clear:left;
text-align:left;
color:#4B8ABF;
padding-top:10px;
padding-bottom:5px;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:20px;
}

.ads_sub_title {
clear:left;
text-align:left;
color:#4B8ABF;
padding-top:10px;
padding-bottom:5px;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:16px;
}

.ads-under {
display:block;
margin-top:15px;
margin-bottom:0px;
padding: 5px 10px 5px 10px;
border:1px solid #e3e3e3;
background-color:#FFFFFF;}

.ads-upper {
display:block;
margin-top:5px;
margin-bottom:10px;
padding: 5px 10px 5px 10px;
border:1px solid #e3e3e3;
background-color:#FFFFFF;}

.facebook {
float:right;
margin-top:5px;
margin-left:10px;
padding: 10px 0px 0px 10px;
text-align:center;
background-color:#FFFFFF;}

.logos img{
float:left;
}

/* РЕЙТИНГИ */

.position {
clear:left;
float:left;
width: 40px;
height: 20px;
text-align:center;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 14px;
color: #666666;
font-weight: bold;
background: url(images/position.gif);
}

h2 {
margin: 0px 0px 0px 0px;
padding-top:2 px;
height:20px;
font-family:Georgia, "Times New Roman", Times, serif;
font-size: 16px;
color: #4B8ABF;
text-align: left;
font-weight: bold;
background-color:#F7F7F7;
}

h2 a, h2e a:visited{
color: #4B8ABF;
text-decoration:none;
margin-left:5px;}

.description {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
margin-left:40px;
margin-top: 5px;
margin-bottom:5px;
text-align:justify;
margin-right:10px;
}

.description span {
display: table;
zoom: 1;/*это для ИЕ7*/
}

.description a {
color:#4B8ABF;
text-decoration:underline;}

.description img {
border:0px;
float:left;
padding-right:5px;
padding-bottom:30px;}

/*ГОЛОСОВАЛКА*/

.vote {
clear:left;
float:left;
width:30px;
height:30px;
background:transparent url(images/vote.gif) no-repeat left top;
cursor:pointer;
margin-left:5px;
margin-top: 5px;
margin-right:5px;
}

.vote:hover {
background:transparent url(images/vote-active.gif) no-repeat left top;
cursor:pointer;
}

.voted a {
clear:left;
float:left;
width:30px;
height:30px;
background:transparent url(images/vote-active.gif) no-repeat left top;
cursor:pointer;
margin-left:5px;
margin-top: 5px;
margin-right:5px;
}

/*ФУТЕР*/

.archive {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#999999;
text-align:center;
text-decoration:none;
padding:5px 0px 5px 35px;}

.archive a {
color:#4B8ABF;
text-decoration:none;
margin-bottom:0px;
}


/* АДМИНКА*/

.logo-admin {
margin-top:10px;
width:60px;
height:60px;
float:left;
margin-bottom:20px;
text-align:left;}

.browse-admin {
float:right;
width: 550px;
height: 70px;
top: 0px;
text-align:right;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:18px;
color:#AAAAAA;
padding:10px 10px 5px 5px;
border-right:1px solid #e3e3e3;
border-left:1px solid #e3e3e3;
border-bottom:1px solid #e3e3e3;
}

.browse-admin a {
margin-top:10px;
color:#AAAAAA;
}

.browse-admin a:hover {
color:#FF3300;
}

.block {
padding: 0px 10px 10px 10px;
border:1px solid #e3e3e3;
background-color:#FFFFFF;
}

.block p {
text-align:left;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:17px;
color:#AAAAAA;
margin: 3px 3px 3px 3px;
}

.block input {
background: #f4f4f4;
border: 1px solid #b2b2b2;
color: #000;
font:  13px Verdana, Arial, Helvetica, sans-serif;
width: 95%;
}

.block textarea {
padding: 5px 5px 5px 5px;
background: #f4f4f4;
border: 1px solid #b2b2b2;
color: #000;
font:  13px Verdana, Arial, Helvetica, sans-serif;
width: 95%;
}

.block select {
margin: 0px 0px 0px 0px;
padding: 3px 3px 3px 3px;
background: #f4f4f4;
border: 1px solid #b2b2b2;
color: #000;
font:  13px Verdana, Arial, Helvetica, sans-serif;
width: 200px;
}

.news_label {
float:left;
background-color:#0000CC;
color:#FFFFFF;
font-size:10px;
padding:1px;
margin-right:2px;
text-decoration:none;
}

.top_admin {
float:left;
width:300px;
}



/*WYSIWYG РЕДАКТОР*/

 .niceditor, .niceditor p{
 font-family: verdana, Arial, Geneva CY, sans-serif;
 font-size:13px;
 text-align:justify;
 color:#000000;}
 
 .niceditor a {
color:#4B8ABF;
text-decoration:underline;}

/*ПЕЙДЖИНАТОР*/

.pagination{
 font-size:13px;
 text-align:right;
}

.pagination a{
 padding:0px 4px 2px;
 background: #f4f4f4;
 text-decoration:none;
 border:1px solid #ccc;
 margin:0 2px;
 color:#666666;
}

.pagination a:hover{
 background: #fff;
 color:#666666; 
 border:1px solid #aaa; 
}

.pagination span, .pagination span.nextprev{
 background:#FFFFFF;
 border:1px solid #CCCCCC;
 color:#CCCCCC;
 padding:0px 4px 2px; 
 margin:0 2px; 
}

.pagination span.current{
 background:#546E8C;
 border:1px solid #A49979;
 color:#FFFFFF;
 margin:0 2px; 
 font-weight:bold;
}

 .pagination h2 {
 margin-top:-1.45em;padding:0;border:none
 } /* In html1.php, pages links:EITHER span OR a */
 

/*SUMMARY*/

.summary_title {
clear:left;
text-align:left;
color:#999999;
padding-top:20px;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:20px;
}

.summary_title a {
font-size:20px;
color:#4B8ABF;
text-decoration:none;
}

.summary_title a:hover {
color:#FF3300;}

.summary_title img {
margin-bottom:-2px;
}

.summary_details {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#333333;
text-align:left;
text-decoration:none;
padding:0px 0px 5px 5px;
color:#666666;
}

.summary_details a {
text-decoration:none;
color:#4B8ABF;
}

.summary_text {
font-size:13px;
text-align:justify;}

.summary_text a {
color:#4B8ABF;
text-decoration:underline;}

.summary_text img {
display:block;
border:0px;}

.summary_tags {
margin-top:5px;
display:block;
background-color:#F9F9F9;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#333333;
text-align:left;
text-decoration:none;
padding: 2px 0 2px 5px;
color:#666666;}

.summary_tags a {
color:#4B8ABF;
text-decoration:none;
}

/*НОВОСТЬ*/

.news_text {
font-size:13px;
margin-top:20px;
text-align:justify;}

.news_text, .news_text p {
font-size:13px;
padding:0px;
text-align:justify;}

.news_text a {
color:#4B8ABF;
text-decoration:underline;}

.news_text li {
margin-left:10px;}

.news_text h1, .news_text h2, .news_text h3, .news_text h4, .news_text h5 {
color:#000000;
font-size:13px;
font-weight:bold;
font-family: verdana, Arial, Geneva CY, sans-serif;}

.news_text table{
width:100%;
}

.news_text th{
text-align:left;
font-weight:bold;
background-color:#F0F0F0;
padding: 3px 3px 3px 3px;
border:1px solid #e3e3e3;
font-size:10px;
}

.news_text td{
text-align:left;
padding: 3px 3px 3px 3px;
border:1px solid #e3e3e3;
font-size:10px;
}

.news_text td p{
text-align:left;
padding: 0px 0px 0px 0px;
font-size:10px;
}

.news_text hr{
padding: 0px 0px 0px 0px;
border:1px solid #e3e3e3;}

.news_text img{
clear:left;
display:block;
border:0px;}

/*КОММЕНТАРИИ*/

.comments {
text-align:left;
font-size:10px;
margin-top:20px;
}

.comments p {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#333333;
text-align:left;
padding:2px 0px 0px 2px;
}

.comments p a {
font-size:14px;
text-decoration:underline;
color:#4B8ABF;
}

.comments input {
background: #f4f4f4;
border: 1px solid #b2b2b2;
color: #000;
font:  13px Verdana, Arial, Helvetica, sans-serif;
width: 440px;
margin-bottom:0px;
padding-bottom:0px;
}

.comments textarea {
padding: 5px 5px 5px 5px;
background: #f4f4f4;
border: 1px solid #b2b2b2;
color: #000;
font:  13px Verdana, Arial, Helvetica, sans-serif;
width: 440px;
}

.comment_title {
color:#FF0000;
clear:left;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:18px;
font-weight:normal;
margin-top:10px;
margin-bottom:5px;
text-align:left;
cursor:pointer;
}

.comment_title a{
color:#4B8ABF;
border-bottom: 1px dashed #4B8ABF; 
text-decoration:none;
}

.comment_add {
text-align:left;
padding-top:20px;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:20px;
color:#4B8ABF;
}

.comment_author {
color:#AAAAAA;
text-align:left;
padding-top:10px;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:20px;
}

.comment_author a{
color:#AAAAAA;
text-decoration:none;
}

.comment_author img{
padding-right:3px;
border:0;
height:24px;
}


.comment_deleted {
color:#FF3300;
text-align:left;
padding-top:20px;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:20px;
}

.comment_details {
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#333333;
text-align:left;
text-decoration:none;
padding:2px 2px 2px 2px;
background-color:#F0F0F0;
display:block;
}

.comment_text {
padding-top:5px;
padding-bottom:5px;
color:#000000;
font-size:13px;
text-align:left;
border-bottom:1px solid #e3e3e3;}

.comment_quote {
margin: 5px 5px 0px 10px;
padding: 5px 5px 5px 5px;
display:block;
background-color:#FFFFCC;
color:#000000;
font-size:12px;
text-align:justify;
border:1px solid #e3e3e3;}

.comment_invite {
margin: 5px 0px 5px 0px;
padding: 5px 5px 5px 5px;
display:block;
background-color:#FFFFFC;
color:#000000;
font-size:12px;
text-align:justify;
border:1px solid #e3e3e3;}

.comment_invite a {
color:#4B8ABF;
border-bottom: 1px dashed #4B8ABF; 
text-decoration:none;
cursor:pointer;}

.subcomments {
margin-left:40px;
}

.comment_reply a{
color:#4B8ABF;
border-bottom: 1px dashed #4B8ABF; 
text-decoration:none;
cursor:pointer;
}

.comments_form {
background-color:#CCCCCC;
width:100%;
padding:3px;
}

.comments_form input {
}

.comments_form span {
}

.comments_form textarea {
width: 100%;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
}

/*ЛОКАТОР ПРОВАЙДЕРОВ*/

.country {
text-align:center;
margin-top:10px;
padding-right:10px;
}

.country span {
float:left;
text-align:center;
color:#FF3300;
border:1px solid #FF3300;
padding: 3px 3px 3px 3px;
font-size:10px;
text-decoration:none;
}

.country a {
float:left;
text-align:center;
border:1px solid #e3e3e3;
padding: 3px 3px 3px 3px;
font-size:10px;
color:#4B8ABF;
text-decoration:none;
}

.country a:hover{
color:#FF3300;
text-decoration:none;
border:1px solid #FF3300;
padding: 3px 3px 3px 3px;}

/*Ссылки для добавления и редактирования контента*/

.public {
float:left;
text-align:left;
margin-top:15px;}

.public a {
text-align:center;
border:1px solid #e3e3e3;
padding: 3px 3px 3px 3px;
font-size:10px;
color:#4B8ABF;
text-decoration:none;
}

.public a:hover{
color:#FF3300;
text-decoration:none;
border:1px solid #FF3300;
padding: 3px 3px 3px 3px;}

.public textarea {
padding: 5px 5px 5px 5px;
background: #f4f4f4;
border: 1px solid #b2b2b2;
color: #000;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
width: 400px;}

/*ФОРУМ*/

/*ПОСЛЕДНИЕ ТЕМЫ*/
.forum_topics {
padding-bottom:10px;
font-size:14px;
text-align:left;}

.forum_topics a {
color:#4B8ABF;
text-decoration:none;
font-size:14px;
text-align:left;}

.forum_topics a:hover {
color:#FF3300;
text-decoration:none;}

/*ОБЩИЙ ВИД*/

.forum {
width:1000px;
padding: 0px 15px 15px 15px;
background-color:#FFFFFF;
background:transparent  url(images/left.png) repeat-y left;
background:transparent  url(images/right.png) repeat-y right;
}

/*FAQ*/

.faq {
text-align:left;
color:#999999;
padding-top:5px;
padding-bottom:10px;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:18px;
}

.faq a {
color:#4B8ABF;
text-decoration:none;
}

.faq a:hover {
color:#FF3300;}

/************************************************

*	ВЫПАДАЮЩЕЕ МЕНЮ *

************************************************/


#subnav {
	margin: 0px;
	padding: 0px;
	list-style: none;
	}


#subnav ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	z-index: 100;
	}

#subnav a {
	background: #FFFFFF;
	color: #495469;
	display: block;
	font-size: 10px;
    text-transform: uppercase;
    margin: 0px;
	z-index: 100;
	}

#subnav a:hover {
	color: #000000;
	display: block;
	text-decoration: none;
	z-index: 100;
	}

#subnav li {
	float: left;
	margin: 0px;
	padding: 0px;
	z-index: 100;
	}

#subnav li li {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 140px;
	z-index: 100;
	}

#subnav li li a, #subnav li li a:link, #subnav li li a:visited {
	background: #FFFFFF;
	width: 150px;
	float: none;
	margin: 0px;
	border-bottom: 1px solid #e3e3e3;	
	border-right: 1px solid #e3e3e3;
	border-left: 1px solid #e3e3e3;
	z-index: 100;
	}

#subnav li li a:hover, #subnav li li a:active {
	color: #000000;
	background-color:#F8F8F8;
	z-index: 100;
	}

#subnav li ul {
	position: absolute;
	width: 10em;
	left: -999em;
	z-index: 100;
	}

#subnav li:hover ul {
	left: auto;
	display: block;
	z-index: 100;
	}


