#skmenu {border-collapse: collapse; margin-bottom: 5px;}
#skmenu td {font: bold 70% Arial, Helvetica; color: #FFF; padding: 0;}
#skmenu a {color: #FFF; text-decoration: none !important;}
#skmenu .bgr {background-image: url("/images/sk/bgr.gif"); padding: 0 10px 0 10px;}
#skmenu .bglg {background-image: url("/images/sk/bglg.gif"); padding: 0 10px 0 10px;}
#skmenu .bgdg {background-image: url("/images/sk/bgdg.gif"); padding: 0 10px 0 10px;}
#skmenu img {border: 0; height: 27px;}
#skmenu .del {width: 1px;}
#skmenu .cl {width: 7px;}
