/* CSS Document */

div.right-text-ban {margin-top: -30px;}

a:focus { outline: none; }

div.cnt-text { border:none; }
div.experts { width:710px; margin:0 0 0 -20px; }

div.experts div.unit {
    width: 200px;
    height: 200px;
    margin: 20px 13px 0 0;
    border: 1px solid #ffffff;
    padding: 9px 9px 24px 9px;
    overflow: hidden;
    float: left;
    background: url('/img/sh.jpg') -9px bottom no-repeat;
}
		div.experts div.active { border-color:#dddddd !important;/* padding:9px !important;*/ } 
		div.experts div.unit div.box { width:680px; height:200px; }
			div.experts div.unit div.box div.b-img,
			div.experts div.unit div.box div.e-b-img { width:200px; height:200px; float:left; }
			div.experts div.unit div.box div.b-img { cursor:pointer; }
				div.experts div.unit div.box div.b-img div.img,
				div.experts div.unit div.box div.e-b-img div.img { width:200px; height:200px; }
					div.experts div.unit div.box div.b-img div.img div,
					div.experts div.unit div.box div.e-b-img div.img div { width:180px; height:90px; padding:100px 10px 10px 10px; background:url('img/bg.png') repeat-x scroll 0 bottom; font:normal 12px/15px Arial, Helvetica, sans-serif; color:#FFFFFF; }
						div.experts div.unit div.box div.e-b-img div.img div { width:170px; height:160px; padding: 20px 20px 20px 10px; font-size:30px; line-height:35px; font-family: }
					
						div.experts div.unit div.box div.b-img div.img div strong { font-size:14px; text-transform:uppercase; line-height:20px; }

div.experts div.unit div.box div.b-img div.bg{
    width: 200px;
    height: 24px;
    background: url('img/sh.jpg') no-repeat center bottom;
    position: absolute;
}
				div.experts div.active div.box div.b-img div.bg { background-image:none !important; }
			div.experts div.unit div.box div.ex-blog { width:450px; height:200px; float:right; font:normal 12px/15px Arial, Helvetica, sans-serif; color:#333333; }
				div.experts div.unit div.box div.ex-blog div.name { height:80px;  }
					div.experts div.unit div.box div.ex-blog div.name strong { font-size:14px; text-transform:uppercase; line-height:28px; }
				div.experts div.ex-blog-text { height:70px; overflow:hidden; }
				div.managers div.ex-blog-text { height:104px; }
				
				div.experts div.ex-slider { height:5px; padding:14px 0; }
				div.managers div.ex-slider { padding:10px 0 0; }
				
				
					div.experts div.ex-slider div.ex-slider-bg { width:380px; height:5px; padding: 0 40px 0 30px; background: url("img/ex-sl-bg.png") no-repeat scroll 0 0 transparent; }
						div.experts div.ex-slider div.ex-slider-bg div.eslider { height: 5px; position: relative; }
							div.experts div.ex-slider div.ex-slider-bg div.eslider a { width:60px; height: 5px; background: url("img/ex-sl-a.png") no-repeat scroll 0 0 transparent; display: block; margin: 0 0 0 -30px; position: absolute; }
				div.experts div.unit div.box div.ex-blog div.ex-blog-name { font:bold 14px Arial, Helvetica, sans-serif; color:#333333; text-transform:uppercase; }
					div.experts div.unit div.box div.ex-blog div.ex-blog-name a { color:#0091af;  }

/*    group-company    */
div.group-company div.box div.b-img div.primg,
div.group-company div.box div.b-img div.prtxt { height:100px; background:#f3f3f3 none no-repeat scroll center center; padding:0 14px; text-align:center; color:#333333; text-transform:uppercase; line-height:15px; }
div.group-company div.box div.b-img div.prtxt span.exp-span { padding-top:7px; font-size:12px; display:inherit; }
div.group-company div.ex-blog-text { height:149px !important; }

div.group-company div.box div.b-img div.primg{
    height: 200px;
}