* {
	margin:0;
	padding:0;
	}
img {border:none;}
html{height:100%;}
body {
	font-size:small;
	font-family:Arial, Helvetica, sans-serif;
	height:100%;
	}

/* Links */
a:link { color:#335570;}
a:visited {color:#335570;}
a:hover {color:#335570;text-decoration:none; }
a:active {color:#335570; }
a:focus { outline:none; }
/*// Links */


/* Списки */
ul {list-style:none;}
.red_dot  li, .plus_dot li, .blue_dot li, .ginger_dot li, .grey_corner li, .grey_dot li, .news_body ul li {
	padding:0 0 5px 13px;
	background:url(../img/icon_sprite.png) no-repeat;
	}
.red_dot  li a, .plus_dot li a, .blue_dot li a, .ginger_dot li a{line-height:1;}
.red_dot  li, .news_body .red_dot  li{background-position:-94px 6px;}
.blue_dot li, .news_body ul li{background-position:-42px -45px;}
.ginger_dot li {background-position:2px -95px;}
.plus_dot li{background-position:2px -144px;}
.grey_corner li{background:url(../img/corner_grey.gif) no-repeat 2px 5px;}
.grey_dot li{background-position:2px -295px;}
.black_sq li, li.black_sq{
	background:url("../img/black_dot.gif") no-repeat 2px 5px ;
	line-height:1.2;
	padding-left:15px !important;
	width:auto !important;
	font-size:14px;
	}
/*// Списки */

/* Выпадающий список */
#dropdown {
	position:relative;
	padding:15px 0 5px 0;
	z-index:100;
	}
#dropdown ul {
	position:absolute;
	width:120px;
	left:428px;
	top:-10px;
	border:1px solid #DA9393 !important;
	/*background:#fff; */
	padding:2px 5px 0px;
	/* display:none; */
	}
.active ul.grey_dot {
	border:1px solid #DA9393 !important;
	background:#fff;
	display:block !important;
	}
.active ul.grey_dot li{display:block !important;}
#dropdown ul li{display:none;}
#dropdown ul li.visible{
	display:block;
	background:none !important;
	}
#dropdown ul li.visible{
	display:block;
	/* background:none; */
	}
#dropdown ul li.visible{
	display:block;
	padding-right:15px;
	background:url("../img/red_corner_big2.gif") no-repeat 100px 7px !important;
	cursor:pointer;
	}
#content .active ul li.visible{
	background:url("../img/red_corner_2.gif") no-repeat 108px 6px !important;

	}
#dropdown ul li.visible a{

	}
/*// Выпадающий список */

/* Заголовки */
h2, h3, h4, h5 {
	font-family:Arial;
	color:#61727c;
	margin-bottom: 8px;
	}
h2 a, h3 a, h4 a, h5 a {color:#61727c !important;}
/*// Заголовки */

/* Колонки */
.left_column {
	float:left;
	width:120px;
	padding:0 20px 120px;
	position:relative;
	}
.left_part {
	float:left;
	width:450px;
	}
.double_right {
	float:right;
	width:820px;
	}
.double_left {
	float:left;
	width:680px;
	}
.middle_line {
	width:100%;
	clear:both;
	margin-bottom:10px;
	}
.center_part {
	float:left;
	width:560px;
	padding-right:10px;
	}
.right_column {
	float:right;
	width:250px;
	}
.clear_fix {
	clear:both;
	height:0;
	line-height:0;
	font-size:0;
	}
.center_column {margin:0 315px 0 405px;}

.right_part {
	margin:0 0 0 465px;
}
.adv_link {
	position:absolute;
	left:20px;
	width:130px;
	bottom:20px;
	font-size: 12px;
	color: #777;
	}

.adv_link a
{
	font-size: 12px;
	color: #777;
}


.banner_bottom{
	background:url("../img/content_bg.gif") repeat-y scroll left top #FFFFFF;
	margin:0 auto;
	width:964px;
	text-align:center;
	padding:10px 20px;
	}
/*// Колонки */

/* Баннеры */
.banner_300x250 {
	padding-top:10px;
	background:url(../img/adv_bg.gif) no-repeat 254px top;
	margin:-10px 0 15px;
	position:relative;
	/* text-align:right; */
	}
/*// Баннеры */

/* Вспомогательные классы */
.bold {font-weight:bold;}
.center {text-align:center;}
.marg_top {margin-top:10px;}
.small_text, .small_text a {font-size:11px !important;}
.super_small, .super_small a {font-size:10px !important;}
.purple_link {
	font-size:11px;
	font-weight:bold;
	color:#9e3481 !important;
	}
.grey_text, .grey_link a, a.grey_link{
	font-size:11px;
	color:#666666 !important;
	}
.light_grey_text, .light_grey a, a.light_grey {color:#999 !important;}
.light_grey_text {font-size:90% !important;}
.red_text, .red_link a, a.red_link{color:#b62828 !important;}
.black_text, .black_link a, a.black_link {color:#000 !important;}
.white_text, .white_link a, a.white_link {color:#fff !important;}
.all_item {
	text-align:right;
	padding-top:5px;
	}
.no_decore a, a.no_decore  {text-decoration:none;}
.no_decore a:hover, a.no_decore:hover  {text-decoration:underline;}
.decore a, a.decore  {text-decoration:underline !important;}
.decore a:hover, a.decore:hover  {text-decoration:none !important;}
.dot_decore a, a.dot_decore {
	text-decoration:none;
	border-bottom:1px dotted ;
	}
.dot_decore a:hover, a.dot_decore:hover {
	text-decoration:none;
	border-bottom:none;
	}
.red_active a, a.red_active {padding:1px 2px;}
.red_active a:hover, a.red_active:hover {
	background:#b62828;
	color:#fff !important;
	}
.red_active_ul li, .yellow_active_ul li{
	float:left;
	width:100%;
	}
.red_active_ul li a{
	float:left;
	clear:left;
	padding:1px 0px 1px;
	line-height:1.1;
	}
.red_active_ul a:hover, .red_active_ul li.active a {
	background:#b62828;
	color:#fff !important;
	border-bottom:1px solid #b62828;
	padding:1px 3px 1px;
	margin:0 0 0 -3px;
	position:relative;
	text-decoration:none;
	z-index:1;
	}
.yellow_active_ul li a{
	float:left;
	clear:left;
	padding:4px 7px 4px;
	line-height:1.1;
	}
.yellow_active_ul a:hover, .yellow_active_ul li.active a {
	background:#fffd48;
	padding:4px 7px 4px;
	margin:0 0 0 -3px;
	position:relative;
	font-weight:bold;
	}
.part_title {
	font-size:20px;
	font-weight:normal;
	margin-bottom:5px;
	}
.greybg_title {
	margin-bottom:5px;
	background:#9AA5AB;
	color:#fff;
	padding:5px
	}
.attention .float_block {
	float:left;
	margin-right:15px;
	width:240px;
	}
.attention p {
	background:transparent url(../img/attention_bg.gif) no-repeat scroll 10px 42%;
	font-size:12px;
	padding:40px 8px 40px 28px;
	}
.marg_non {margin:0 !important;}
.floatright {
	float:right;
	margin:0 0 10px 10px;
	}
.floatleft {
	float:left;
	margin:0 10px 10px 0px;
	}
/*// Вспомогательные классы */
.clear:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; font-size:0;}
.clear {display: inline-block;}  /* for IE/Mac */
html[xmlns] .clear {  display: block; }

.clear_part {display:inline-block;}

div.thumb  {border-color:transparent;}
div.tright {border-width:0.5em 0 0.8em 1.4em;
	clear:right;
	float:right;
	}
div.thumb {
	border-color:white;
	border-style:solid;
	margin-bottom:0.5em;
	width:auto;
	}
div.thumbinner  {
	background-color:#F9F9F9;
	border:1px solid #CCCCCC;
	font-size:94%;
	overflow:hidden;
	padding:3px !important;
	text-align:center;
	}
.thumbcaption {
	border:medium none;
	font-size:94%;
	line-height:1.4em;
	padding:3px !important;
	text-align:left;
	}
div.magnify {
	background:none repeat scroll 0 0 transparent !important;
	border:medium none !important;
	float:right;
	}
div.magnify a, div.magnify img {
	background:none repeat scroll 0 0 transparent !important;
	border:medium none !important;
	display:block;
	}
.grey_box {
	width:490px;
	padding:10px;
	border:1px solid #ccc;
	background:#F0F1F2;
	}
.footer_adv{
	text-align: left;
	padding-left: 14px;
	font-size: 11px;
	}
.footer_adv a {
	color: black;
	text-decoration: none;
	}
.thead{
	padding:5px !important;
	color:#666666;
	cursor:default;
	font-size:14px;
	font-weight:bold;
	}

.small_text #ca-form_edit a { /*.small_text .visible a*/
	font-size:16px !important;
	font-weight:bold !important;
}

.main_it
{
	border: 1px solid #C0C6CA; 
	width: 100%;
	border-collapse:collapse;
}

.main_it th
{
	border: 1px solid #C0C6CA; padding:10px; width: 33%; font-size: 14px;  font-weight: bold;
}

.main_it td
{
	vertical-align: top;
	padding:10px;
	border-right: 1px solid #C0C6CA; 

}

.main_it a
{
	text-decoration: none;
}

.main_it a:hover
{
	text-decoration: underline;
}

.main_it ul li a
{
	font-size: 12px; 
}

.main_it_comp
{
	padding-bottom: 6px;
	font-size: 14px;
	font-weight: bold;
}

.sortarrow
{
	margin-top: 5px;
}

#wpTextbox1
{
	border: 1px solid #CCC;
}

#mw-editbutton-italic
{
	border-right: 1px solid #CCC;
}

#mw-editbutton-newline
{
	border-right: 1px solid #CCC;
}

.mw-toolbar-editbutton
{
	padding: 0 0px 0 4px;
}

#mw-editbutton-sub
{
	border-right: 1px solid #CCC;
	padding-right: 5px;
}

#mw-editbutton-redirect
{
	border-right: 1px solid #CCC;
	padding-right: 5px;	
}


#TB_overlay
{
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #000;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	-moz-opacity: 0.80;
	-khtml-opacity: 0.80;
	opacity: 0.80;
}

#modalWindow
{
	width: 600px;
	height: 300px;
	background-color: white;
	border: 1px solid #888;
	z-index: 1000;
}

#modalWindowHeader
{
	height: 24px;
	background-color: #EEE;
	border-bottom: 1px solid #888;
	vertical-align: middle;
	padding-top: 10px;
	padding-left: 12px;
	font-weight: bold;

}

#modalWindowMiddle
{
	height: 230px;
}

#modalWindowFooter
{
	height: 34px;
	vertical-align: middle;
	border-top: 1px solid #888;
	text-align: right;
	padding-top: 5px;
	padding-right: 10px;
}


/* */

#modalWindow2
{
	width: 600px;
	height: 360px;
	background-color: white;
	border: 1px solid #888;
	z-index: 1000;
}

#modalWindow2Header
{
	height: 24px;
	background-color: #EEE;
	border-bottom: 1px solid #888;
	vertical-align: middle;
	padding-top: 10px;
	padding-left: 12px;
	font-weight: bold;

}

#modalWindow2Middle
{
	height: 260px;
}

#modalWindow2Footer
{
	height: 34px;
	vertical-align: middle;
	border-top: 1px solid #888;
	text-align: right;
	padding-top: 5px;
	padding-right: 10px;
}
/* */


#temp_table
{
	border-collapse: collapse;
	margin-top: 20px;
}

#temp_table td
{
	padding: 4px;
}

#temp_table th
{
	padding: 4px;
	text-align: center;
	font-weight: normal;
}

.temp_table_border td
{
	border: 1px solid #888;
}

.temp_table_border th
{
	border: 1px solid #888;
}

.temp_table_header th
{
	font-weight: bold !important;
	text-align: center !important;
}

.temp_table_header_back th
{
	background-color: #EEE;
}

ol
{
	margin-left: 15px;
}

#add_form_menu
{
	width: 100%;
	background-color: #ECEFF1;
	color: #B62828 !important;
	font-weight: bold;
}

#add_form_menu .add_m
{
	border-right: 1px solid #DDD;
	padding: 10px; 
	float: left;
}

.add_m span
{
	padding-bottom: 2px;
	border-bottom: 1px dashed #B62828;
}

#add_form_menu .active
{
	background-color: #D8D9E2;
}

#add_form_menu div:hover
{
	cursor: pointer;
	background-color: #D1D2DB;
}

.add_form_div
{
	background-color: #FAFBFF;
	padding: 10px;
	margin-bottom: 3px;
	border: 1px solid #D8D9E2;
}

.add_form_div table
{
	background-color: #F9FAFF !important;	
}

.createbox input[type="submit"]
{
	padding: 3px;
}