/* html{background:#cdd2d5 url(../img/body_bg.png) repeat-x left 60px;}
body {background: url(../img/header_bg.png) no-repeat center 60px;} */
.body_wrapper{
	background:#cdd2d5 url(../img/body_bg.png) repeat-x left top;
	width:100%;
	}
.body_sub_wrapper {
	/* background: url(../img/header_bg.png) no-repeat center top; */
	background: url(../img/header_bg_new.png) no-repeat center top;
	width:100%;
	}
#wrapper {
	width:1004px;
	margin:0 auto;
	}

/* Шапка */
.key_word {
	position:absolute;
	display:block;
	text-indent:-9999px;
	background-image:url(../img/words_sprite_new.png);
	background-repeat: no-repeat;
	z-index:-1;
	}
.word_1 {
	width:100px;
	height:18px;
	left:437px;
	top:98px;
	background-image:url(../img/words_sprite_new.png);
	background-position:-130px -98px;
	}
/* .word_1:hover {background-position:left -150px;} */
.word_2 {
	width:55px;
	height:25px;
	left:306px;
	top:96px;
	background-position:left -85px;
	}
/* .word_2:hover {background-position:left -237px;} */
.word_3 {
	width:67px;
	height:25px;
	left:337px;
	top:60px;
	background-position:-31px -49px;
	}
/* .word_3:hover {background-position:-31px -201px;} */
.word_4 {
	width:24px;
	height:26px;
	left:363px;
	top:12px;
	background-position:-57px -2px;
	}
/* .word_4:hover {background-position:-57px -154px;} */
.word_5 {
	width:35px;
	height:17px;
	left:424px;
	top:44px;
	background-position:-119px -36px;
	}
/* .word_5:hover {background-position:-119px -185px;} */
.word_6 {
	width:40px;
	height:15px;
	left:368px;
	top:105px;
	background-position:-62px -94px;
	}
/* .word_6:hover {background-position:-63px -247px;} */
.word_7 {
	width:47px;
	height:15px;
	left:478px;
	top:69px;
	background-position:-172px -58px;
	}
/* .word_7:hover {background-position:-173px -211px;} */
.word_8 {
	width:25px;
	height:12px;
	left:419px;
	top:73px;
	background-position:-114px -63px;
	}
/* .word_8:hover {background-position:-114px -216px;} */
.word_9 {
	width:25px;
	height:11px;
	left:325px;
	top:26px;
	background-position:-19px -16px;
	}
/* .word_9:hover {background-position:-20px -169px;} */
.word_10 {
	width:58px;
	height:15px;
	left:458px;
	top:11px;
	background-position:-152px 0px;
	}
/* .word_10:hover {background-position:-153px -153px;} */
.word_11 {
	width:24px;
	height:9px;
	left:506px;
	top:37px;
	background-position:-200px -20px;
	}
/* .word_11:hover {background-position:-201px -173px;} */
.word_12 {
	width:59px;
	height:29px;
	left:535px;
	top:55px;
	background-image:url(../img/words_sprite_new.png);
	background-position:-226px -49px;
	}
/* .word_12:hover {background-position:left -100px;} */
.word_13 {
	width:81px;
	height:25px;
	left:405px;
	top:35px;
	background-image:url(../img/words_sprite_new.png);
	background-position:-96px -21px;
	}
/* .word_13:hover {background-position:left -50px;} */
#header {
	position:relative;
	height:166px;
	padding:0 2px;
	z-index:1000;
	}
#header h1{
	position:absolute;
	left:0px;
	/* top:43px; */
	top:30px;
	font-size:18px;
	}
#top_nav {padding:5px 0 0 0;}
#top_nav li{
	display:inline;
	color:#999999;
	border-left:1px solid #999;
	font-size:10px;
	padding:0 5px 0 8px;
	}
#top_nav li a{
	color:#999999;
	font-size:10px;
	}
#top_nav li.first_item{
	border-left:none;
	padding-left:0;
	}
#top_banner {
	width:728px;
	height:90px;
	position:absolute;
	right:0;
	top:30px;
	}
.attention_text {
	color:#FFFFFF;
	position:absolute;
	right:0;
	top:25px;
	width:380px;
	}
.attention_text li{padding-top:1px !important;}
.digit_nav {
	position:absolute;
	left:483px;
	top:120px;
	/* display:none; */
	float:left;
	}
.digit_nav li{
	text-align:right;
	float:left;
	width:100px;
	}
.digit_nav li.digit_sys {width:95px;}
.digit_nav li.digit_otr {width:75px;}
.digit_nav li.digit_comp {width:88px;}
.digit_nav li.digit_3 {width:80px;}
#rastyjka_top {
	/* position:absolute;
	left:0;
	top:30px; */
	/* width:100%; */
	/* height:60px; */
	/* border-right:1px solid #000;
	border-left:1px solid #000; */
	/* background:url(../img/banner_bg.png) no-repeat center top; */
	background:#333333;
	text-align: center;
	}
#top_panel{
	position:absolute;
	right:0;
	top:0;
	font-size:11px;
	width:350px;
	}
#authorization{
	padding:3px 10px 4px;
	color:#fff;
	background:#b62828;
	font-family:Tahoma;
	font-size:11px;
	float:right;
	}
	#authorization a{
		color:#fff;
		font-size:11px;
		text-decoration:none;
		}
		#authorization a:hover{text-decoration:underline;}
#date {
	float:left;
	color:#999;
	padding:3px 10px 0 0;
	}
#date img{
	position:relative;
	margin:0 5px -2px 0;
	}

/* Уши */
#tizer_wrapp {
	width:720px;
	height:90px;
	position:absolute;
	left:275px;
	top:30px;
	float:left;
	overflow:hidden;
	background:#858585 url(../img/li_nav_bg.png) repeat-x left top;
	padding:5px;
	}
#tizer_wrapp .tizer {
	width:230px;
	padding-right:10px;
	float:left;
	}
#tizer_wrapp .tizer img {
	float:left;
	border:1px solid #999;
	}
/* #tizer_wrapp .tizer p, #tizer_wrapp .tizer h3 {
	margin-left:100px;
	} */
#tizer_wrapp .tizer h3 {
	font-size:12px;
	margin:0 0 2px 100px;
	}
#tizer_wrapp .tizer h3 a {color:#fff !important;}
#tizer_wrapp .tizer p{
	font-size:10px;
	color:#ccc;
	margin-left:100px;
	}
/*// Уши */

/* Главное меню */
#home {
	float:left;
	position:absolute;
	left:0px;
	top:137px;
	font-family:Tahoma;
	margin-right:1px;
	font-size:12px;
	background:url(../img/li_nav_bg.png) repeat-x left top;
	padding:0 1px;
	}
	#home a{
		float:left;
		color:#fff;
		text-decoration:none;
		font-weight:bold;
		background:#666666 url(../img/nav_bg.png) repeat-x left top;
		padding:7px 10px 6px;
		}
.active_home{background:url(../img/li_active_bg.png) repeat-x left top !important;}
.active_home a, #home  a:hover{
	background:url(../img/active_nav_bg.png) no-repeat center top !important;
	padding:7px 10px 13px !important;
	}
#cal_nav {
	float:left;
	position:absolute;
	left:38px;
	top:137px;
	font-family:Tahoma;
	margin-right:1px;
	font-size:12px;
	background:url(../img/li_nav_bg.png) repeat-x left top;
	padding:0 1px;
	}
	#cal_nav a{
		float:left;
		color:#fff;
		text-decoration:none;
		font-weight:bold;
		background:#666666 url(../img/nav_bg.png) repeat-x left top;
		padding:7px 10px 5px;
		}
.active_cal{background:url(../img/li_active_bg.png) repeat-x left top !important;}
.active_cal a, #cal_nav  a:hover{
	background:url(../img/active_nav_bg.png) no-repeat center top !important;
	padding:7px 10px 14px !important;
	}
#main_nav {
	float:left;
	position:absolute;
	left:315px;
	top:137px;
	font-family:Tahoma;
	}
	#main_nav li{
		float:left;
		margin-right:1px;
		font-size:12px;
		background:url(../img/li_nav_bg.png) repeat-x left top;
		padding:0 1px;
		}
	#main_nav li a{
			float:left;
			color:#fff;
			text-decoration:none;
			font-weight:bold;
			background:#666666 url(../img/nav_bg.png) repeat-x left top;
			height: 21px;
		  padding: 5px 11px 0;
		}
#main_nav li.active{background:url(../img/li_active_bg.png) repeat-x left top;}
#main_nav li.active a, #main_nav li a:hover{
	background:url(../img/active_nav_bg.png) no-repeat center top;
			height: 28px;
		  padding: 5px 11px 0;

	}
#main_nav li a.itpedia_nav{/*padding:4px 12px 2px 12px;*/ width: 48px;}
#main_nav li.active a.itpedia_nav, #main_nav li a.itpedia_nav:hover{/*padding:4px 12px 13px;*/ width: 48px;}
#itpedia_nav {
	position:absolute;
	left:615px;
	top:0;
	}
/*// Главное меню */

/* Поиск */
#search {
	float:left;
	position:absolute;
	left:78px;
	top:137px;
	background:#444 url(../img/form_bg.png) repeat-x left top;
	padding:3px 15px 3px;
	height:20px;
	width:206px;
	}
#search #search_wrapp {
	/* position:relative;
	z-index:10000; */
	}
#search .text {
	border:1px solid #999999;
	color:#999999;
	padding:2px 0 3px 3px;
	font-size:10px;
	width:160px;
	position:absolute;
	left:15px;
	top:3px;
	}
#pop_up_button {
	position:absolute;
	left:180px;
	top:3px;
	border-right:1px solid #c2c8cc;
	border-top:1px solid #c2c8cc;
	}
#search_button {
	position:absolute;
	left:208px;
	top:5px;
	}
.extended_search {
	background:#a7b0b6;
	border:1px solid #c2c8cc;
	border-top:none;
	position:absolute;
	width:169px;
	left:15px;
	top:23px;
	display:none;
	padding:8px 5px 0px 5px;
	overflow:hidden;
	font-size:11px;
	color:#fff;
	z-index:100;
	}

.extended_search a {
	color: white;
}

.extended_search p {
	float:left;
	width:94px;
	padding-bottom:8px;
	white-space:nowrap;
	}
.extended_search .all_parts {
	width:100%;
	border-bottom:1px solid #c2c8cc;
	margin-bottom:8px;
	}

.extended_search .first_item {width:74px;}
.extended_search p input{
	width:13px;
	height:13px;
	float:left;
	margin-right:3px;
	}
.extended_active .extended_search {display:block;}
.extended_active #pop_up_button {border-bottom:1px solid #a7b0b6;}
/*// Поиск */

/*// Шапка */


/*Контент*/
#content{
	background:#fff url(../img/content_bg.gif) repeat-y left top;
	padding:15px 22px 10px 2px;
 	z-index:10;
	position:relative;
	}
#zoom_awards {
	padding:20px 10px 20px;
	border-bottom:1px solid #ebebeb;
	text-align:center;
	font-size:11px;
	margin-bottom:15px;
	}
	#zoom_awards a{
		color:#d34f2a;
		background:#fff url(../img/zoom_awards_logo.png) no-repeat 20px top;
		padding-top:105px;
		display:block;
		font-family:Tahoma;
		}
#about_list, #add_list, #private_list, #part_list {
	padding-bottom:15px;
	margin-bottom:15px;
	border-bottom:1px solid #ebebeb;
	}
#part_list li{padding-bottom:3px;}
#part_list li a{border-bottom:1px solid #fff;}
/*#private_list ul li{padding-bottom:10px;}*/
#add_list h4{
	font-size:12px;
	margin-bottom:5px;
	}
	#add_list h4 a{
		font-size:14px;
		font-weight:normal;
		margin-left:2px;
		background:#f2f3f4;
		padding:0 5px;
		text-decoration:none;
		}
		#add_list h4 a:hover{
			background:#b62828;
			color:#fff !important;
			}
/* Блок "Важно" */
#important {
	padding-top:10px;
	background:url(../img/important_bg.gif) no-repeat right top;
	}
	#important div{
		padding:20px;
		border:1px solid #c0c6ca;
		background:#444;
		color:#fff !important;
		}
		#important div .bold{
			font-size:15px;
			color:#fff !important;
			margin-bottom:5px;
			}
#important div .red_link a{
	font-size:12px;
	background:url(../img/icon_sprite.png) no-repeat left -244px;
	padding-left:8px;
	color:#fff !important;
	}
/*// Блок "Важно" */

/* Топ новость */
#top_news {
	/* width:100%;
	overflow:hidden; */
	margin-bottom: 10px;
	}
.top_news {
	float:left;
	padding-bottom:10px;
	display:none;
	/* width:535px; */
	}
.top_news img {
	float:left;
	border:1px solid #756d69;
	margin:0 20px 10px 0;
	}

.news_block img {
	border:1px solid #756d69;
	float:none !important;
	}

.top_news h2{
	margin:0 0 5px 0;
	/* margin:0 0 5px 215px; */
	font-weight:normal;
	/*font-size:22px;*/
	}
.top_news h2 a{
	text-decoration:none;
	color:#000 !important;
	}
.top_news h2 .red_link a, .top_news h2 a.red_link{color:#B62828 !important;}
.top_news h2 a:hover{text-decoration:underline;}
/* .top_news p{margin:0 0 5px 215px;} */
.top_news p{margin:0 0 5px 0;}
#control_pad {
	position:relative;
	width:100%;
	clear:both;
	border-top:1px solid #b62828;
	}
#control_pad a{
	width:38px;
	height:6px;
	font-size:6px;
	background:#444;
	display:block;
	position:absolute;
	top:1px;
	text-indent:-9999px;
	z-index:100;
	}
#control_pad a.active, .control_pad_inner a.active, .active_1 #tab_1, .active_2 #tab_2, .active_3 #tab_3{
	height:11px;
	background:#b62828 url(../img/control_sprite.png) no-repeat center -100px;
	top:-4px;
	}
#control_pad a:hover{
	height:27px;
	background:url(../img/control_sprite.png) no-repeat left top;
	top:-20px;
	text-indent:0;
	font-size:9px;
	color:#fff;
	text-decoration:none;
	width:76px;
	padding-left:2px;
	z-index:10;
	text-align:center;
	}
.active_1 #news_1, .active_2 #news_2, .active_3 #news_3{display:block;}
#tab_1 {right:80px;}
#tab_2 {right:40px;}
#tab_3 {right:0px;}
#tab_1:hover {right:40px;}
#tab_2:hover {right:0px;}
#tab_3:hover {
	right:0px;
	background:url(../img/control_sprite.png) no-repeat left -50px !important;
	}


.control_pad_inner{
	position:relative;
	width:100%;
	clear:both;
	border-top:1px solid #b62828;
	}
.control_pad_inner a{
	width:38px;
	height:14px;
	font-size:11px;
	background:#444;
	display:block;
	position:absolute;
	top:1px;
	/* text-indent:-9999px; */
	z-index:100;
	color:#fff !important;
	text-align:center;
	text-decoration:none;
	}
.active_1 .control_pad_inner #tab_1, .active_2 .control_pad_inner #tab_2, .active_3 .control_pad_inner #tab_3, .control_pad_inner a:hover{
	height:15px;
	background:#b62828 url(../img/control_sprite.png) no-repeat center -100px;
	top:-4px;
	padding-top:4px;
	}
.control_pad_inner #tab_1:hover {right:80px;}
.control_pad_inner #tab_2:hover {right:40px;}
.control_pad_inner #tab_3:hover {
	right:0px;
	background:#b62828 url(../img/control_sprite.png) no-repeat center -100px !important;
	}

/* Список новостей */
#top_list {
	clear:both;
	padding:10px 0 0;
	}
#top_list li{
	/* width:100%;
	overflow:hidden; */
	padding:6px 0 6px 15px;
	background: url(../img/black_dot.gif) no-repeat 2px 10px;
	line-height:1;
	border-bottom:1px solid #C0C6CA;
	}
#top_list li span, .news_list li span{
	float:left;
	color:#fff;
	background:#444;
	font-size:11px;
	padding:2px 8px;
	margin:0 5px 0 0;
	}
#top_list li span, .news_list li span{
	float:left;
	color:#fff;
	background:#444;
	font-size:11px;
	padding:1px 7px;
	margin:0 5px 0 0;
	}
#top_list li p{
	margin:0 0 0 0;
	font-size: 16px !important;
	}
.news_list li p{
	margin:0 0 0 0px;
	font-size: 16px !important;
	padding:0 !important;
	}
#top_list li.red_link span, .news_list li.red_link span{background:#b62828;}
/* .news_list li{
	width:100%;
	overflow:hidden;
	padding:0 0 10px 0 !important;
	background:none !important;
	} */
.news_list li p a{font-size:14px !important;}
.article_list li p a{
	font-size:17px !important;
	/* font-weight:bold; */
	}
#top_list li a{
	font-size:14px;
	text-decoration:none;
	color:#000;
	}
	#top_list li a:hover{text-decoration:underline;}
/*// Список новостей */

/* Список публикаций */
#top_pub {
	padding:0px 0 0;
	margin-bottom: 10px;
	}
#top_pub li{
	/* width:100%;
	overflow:hidden; */
	padding:6px 0 6px 15px;
	background: url(../img/black_dot.gif) no-repeat 2px 10px;
	border-bottom:1px solid #C0C6CA;
	}
#top_pub li span, .news_pub li span{
	float:left;
	color:#fff;
	background:#444;
	font-size:11px;
	padding:2px 8px;
	margin:0 5px 0 0;
	}
#top_pub li span, .news_pub li span{
	float:left;
	color:#fff;
	background:#444;
	font-size:11px;
	padding:1px 7px;
	margin:0 5px 0 0;
	}
#top_pub li p{
	margin:0 0 0 0;
	font-size: 16px !important;
	}

#top_pub li.red_link span, .news_pub li.red_link span{background:#b62828;}

#top_pub li a{
	font-size:14px;
	text-decoration:none;
	color:#000;
	}

	#top_pub li a:hover{text-decoration:underline;}
/*// Список публикаций */

/* Список новостей */
#top_list_inner {
	clear:both;
	padding:10px 0 0;
	}
#top_list_inner li{
	/* width:100%;
	overflow:hidden; */
	padding:6px 0 8px 15px;
	background: url(../img/black_dot.gif) no-repeat 2px 10px;
	line-height:1;
	border-bottom:0px solid #C0C6CA;
	}
#top_list_inner li span, .news_list li span{
	float:left;
	color:#fff;
	background:#444;
	font-size:11px;
	padding:2px 8px;
	margin:0 5px 0 0;
	}
#top_list_inner li span, .news_list li span{
	float:left;
	color:#fff;
	background:#444;
	font-size:11px;
	padding:1px 7px;
	margin:0 5px 0 0;
	}
#top_list_inner li p{
	margin:0 0 0 0;
	font-size: 16px !important;
	}
.news_list li p{
	margin:0 0 0 0px;
	font-size: 16px !important;
	padding:0 !important;
	}
#top_list_inner li.red_link span, .news_list li.red_link span{background:#b62828;}
.news_list li{
	width:100%;
	overflow:hidden;
	padding-bottom:10px!important;
	}
.news_list li p a{font-size:15px !important;}
.article_list li p a{
	font-size:17px !important;
	/* font-weight:bold; */
	}
#top_list_inner li a{
	font-size:15px;
	text-decoration:none;
	color:#000;
	}
#top_list_inner li a:hover{text-decoration:underline;}
/*// Список новостей */

/*// Топ новость */

/* ИТ-Директору */
#it_boss  {margin-bottom:5px;}
.rotator_wrapp {
	background:#444;
	padding:20px 50px 15px 40px;
	position:relative;
	z-index:10;
	}
#ff, #rew {
	position:absolute;
	top:45px;
	cursor:pointer;
	}
#rew{left:10px;}
#ff {right:15px;}

#overflow_border {
	position:relative;
	width:100%;
	overflow:hidden;
	z-index:100;
	height:145px;
	}
#rotator{
	width:1365px;
	overflow:hidden;
	color:#fff;
	font-size:14px;
	position:absolute;
	left:0;
	top:0;
	z-index:1000;
	}
	#rotator div {
		float:left;
		width:157px;
		margin-right:35px;
		margin-bottom:15px;
		}
		#rotator div a{
			display:block;
			width:140px;
			/* height:60px; */
			border:2px solid #d9d9d9;
			margin-bottom:5px;
			}
	#rotator div p a{
			display:inline;
			width:auto;
			border:none;
			margin-bottom:0px;
			text-decoration:none;
			color:#fff !important;
			}
	#rotator div p a:hover{
			text-decoration:underline;
			border:none;
			}

			#rotator div a:hover{border:2px solid #fff;}
/*// ИТ-Директору */

/* Отрасли */
#sector_wrapp {
	padding:10px;
	background:#f0f1f2;
	margin-bottom:20px;
	}
.sector_part {
	float:left;
	width:200px;
	padding-right:10px;
	}
	.sector_part h4, .sector_part h4 .mw-headline{
		font-weight:normal;
		font-size:18px;
		margin-bottom:5px;
		}
		.sector_part h4 .mw-headline span{
			font-size:12px;
			margin-left:2px;
			font-family:Arial;
			}
.sector_part ul li {padding:0 0 5px 11px; color: red !important;}
.sector_part ul li a {margin-right:3px; color: black !important;}
#sector_wrapp .last_item{width:150px;}
#sector_wrapp .more{padding:0 0 0 12px;}
/*// Отрасли */

/* Профиль, Проект и т.д. */
.project {padding-bottom:20px;}
/*// Профиль, Проект и т.д. */

/* Статьи  */
.reviews {
	margin-bottom:20px;
	background:url(../img/stripe_bg.gif) repeat  left top;
	padding:10px 5px 0px 10px ;
	}
.reviews_block {padding:0 0 10px 0;}
	.reviews_block img{
		float:left;
		border:3px solid #ebebeb;
		}
	.reviews_block h4, .reviews_block p{margin:0 0 3px 95px;}
	.reviews_block h4{font-size:16px;}
	.reviews_block h4 a{color:#45667a !important;}
.reviews .float_block {
	float:left;
	width:250px;
	min-height:90px;
	height:auto !important;
	height:90px;
	padding:0 0 5px 0;
	}
/*// Статьи  */

/* Блок Внимание */
.attention p{
	border:1px solid #e6e8ea;
	/* padding:50px 8px 50px 28px; */
	padding:10px 8px 10px 28px;
	font-size:12px;
	background:url(../img/attention_bg.gif) no-repeat 10px 42%;
	}
	.attention p strong{font-size:20px;}
/*// Блок Внимание */

/* Календарь событий */
#event_calendar{
	position:relative;
	margin-top:20px;
	background:url(../img/calendar_bg.png) no-repeat left 32px;
	}
#event_calendar .add_event {padding-top:80px;}
#event_calendar .add_event a{
	font-size:12px;
	font-weight:bold;
	padding:3px 5px 4px;
	}
#ff_red, #rew_red {
	position:absolute;
	cursor:pointer;
	top:12px;
	width:16px;
	height:15px;
	}
#rew_red {left:140px;}
#ff_red{right:0px;}
#event_calendar .left_column {
	margin-top:31px;
	background:#f2f3f4;
	border-right:2px solid #fff;
	width:118px;
	padding:10px 20px 0 20px;
	min-height:213px;
	height:auto !important;
	height:213px;
	}
.all_calendar {
	padding-left:23px;
	background:url(../img/calendar_img.png) no-repeat left top;
	}
.event_date {
	font-size:12px;
	font-weight:normal;
	color:#000;
	background:#fff;
	padding:5px 10px;
	border-bottom:1px solid #b62828;
	}
.event_date span{font-size:18px;}
.event_block {
	float:left;
	width:164px;
	}
#event_calendar .event_list {
	padding:5px 10px 0px;
	/* background:#f2f3f4; */
	margin-right:3px;
	/* border:1px solid #f2f3f4; */
	min-height:400px;
	height:auto !important;
	height:215px;
	}
#event_calendar .event_list p{padding:0 0 8px 0;}
#event_calendar .event_list p img{
	float:left;
	margin:0 5px 5px 0;
	}
.active .event_date {
	background:#9aa5ab url(../img/white_dot.gif) repeat-y right top;
	color:#fff;
	}
/* #event_calendar .active .event_list {border:1px solid #d9d9d9;} */
#event_calendar .last_item .event_list {margin-right:0px;}
#event_calendar .last_item .event_date {background-image:none;}
#calendar table {
	border-collapse:collapse;
	width:100%;
	} 
#calendar table td{
	vertical-align:top;
	/* background:#F2F3F4; */
	background:url(../img/event_sprite.png) no-repeat -200px bottom;
	}
#calendar table td.active, #calendar table td:hover{
	background:url(../img/event_sprite.png) no-repeat left bottom;
	} 
/*// Календарь событий */


/* Важные события , Zoom, RnD, Лента новостей */
#zoom_preview .preview {border:1px solid #d2e5f2;}
#rnd_preview .preview {border:1px solid #f6dcd4;}
#news_line .preview {border:1px solid #c0c6ca;}
#news_line .more {padding:0px 0 0 48px;}
#news_line .all {padding:10px 0 0 0;}
.preview_wrapp {
	width:100%;
	overflow:hidden;
	padding-bottom:30px;
	}
.preview_wrapp h3{padding:0px 5px 0px 160px;}
.preview {
	border-left:none !important;
	padding:15px 20px 15px 0;
	}
.preview_wrapp .left_column img {margin-bottom:20px;}
.preview_wrapp .left_column ul li {padding:0 0 5px 0;}
.preview_right {margin-left:160px;}
.img_preview {
	width:99%;
	overflow:hidden;
	padding:0 0 20px 0;
	font-size:11px;
	}
.img_preview img{float:left;}
.img_preview h4, .img_preview p{margin:0 0 5px 120px;}
.img_preview h4{font-size:13px;}
.event_list li{padding-bottom:10px;}
	.event_list li a{margin:0 0 0 3px;}
		.event_list li span{
			background:#444;
			color:#FFFFFF;
			font-size:10px;
			margin:0 3px 0 0;
			padding:1px 5px;
			}
.active_ul_1, .active_ul_2, .active_ul_3, .active_ul_4, .active_ul_5, .active_ul_6, .active_ul_7, .active_ul_8, .active_ul_9, .active_ul_10, .active_ul_11, .active_ul_12, .active_ul_13, .active_ul_14, .active_ul_15, .active_ul_16, .active_ul_17, .active_ul_18, .active_ul_19, .active_ul_20 {display:none;}
.active_list_1 .active_ul_1, .active_list_2 .active_ul_2, .active_list_3 .active_ul_3, .active_list_4 .active_ul_4, .active_list_5 .active_ul_5, .active_list_6 .active_ul_6, .active_list_7 .active_ul_7, .active_list_8 .active_ul_8, .active_list_9 .active_ul_9, .active_list_10 .active_ul_10, .active_list_11 .active_ul_11, .active_list_12 .active_ul_12, .active_list_13 .active_ul_13, .active_list_14 .active_ul_14, .active_list_15 .active_ul_15, .active_list_16 .active_ul_16, .active_list_17 .active_ul_17, .active_list_18 .active_ul_18, .active_list_19 .active_ul_19, .active_list_20 .active_ul_20 {display:block;}
/*// Важные события , Zoom, RnD, Лента новостей  */
/*//Контент*/

/* Футер */
#footer_wrapp{
	border-top:4px solid #b62828;
	background:#000 url(../img/footer_bg.png) no-repeat center top;
	height:76px;
	}
#footer{
	position:relative;
	z-index:1;
	font-size:11px;
	width:1000px;
	margin:0 auto;
	}
#footer .bot_logo{
	position:absolute;
	left:22px;
	top:30px;
	}
#copyright {
	position:absolute;
	left:370px;
	top:20px;
	font-size:10px;
	border-left:1px solid #666666;
	padding:5px 0 5px 15px;
	}
#about_nav {
	list-style:none;
	position:absolute;
	left:160px;
	top:30px;
	font-size:11px;
	}
#about_nav li{
	display:inline;
	border-right:1px solid #555;
	line-height:1;
	padding:0 7px 0 5px;
	color: #666666;
	}
#about_nav li.last_item{border-right:none;}
#about_nav a{
	font-size:11px;
	}
#count {
	position:absolute;
	right:65px;
	text-align:right;
	top:25px;
	}
.wiki_logo {
	position:absolute;
	right:0px;
	text-align:right;
	top:25px;
	}
.footer_stat {
	position:absolute;
	left:600px;
	top:20px;
	font-size:10px;
	border-left:1px solid #666666;
	padding:10px 0 5px 15px;
	}
/*// Футер */

.div_pub_diagr
{
	clear: both; margin: 0px 0 20px; font-size: 11px;
}
.div_pub_diagr a
{
	font-size: 11px;
}

.cake_button {padding: 5px; margin-right: 4px; border: 1px solid #AAA; float: left; cursor: pointer; background: #EEE;}
.cake_button_selected { background: #FFF;}
.integr_hidden {display: none;}
.gray_small {font-size: 10px; color: #333;}

#it_syst_hidden a
{
	color: white;
	text-decoration: none;
}

.main_rotator2 {
    background-color: #FAF7F7;
    border: 1px solid #DDDDDD;
    float: left;
    height: 370px;
    width: 544px;
	margin-bottom: 10px;
	padding: 10px 7px 10px 8px;
}

.main_rotator2 a
{
	color: black;
	text-decoration: none;
}

.main_rotator2 a:hover
{
	text-decoration: underline;

}

.pub_block2
{
    background-color: white;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    float: left;
    cursor: pointer;
    margin: 4px 7px 7px;
	padding: 6px;
	width: 246px; 
	height: 162px;
}

.main_rotator2_img
{
	text-align: center;
	margin-bottom: 5px;
border: 1px solid #CCCCCC;
}

.main_rotator_block2
{
	padding-left: 2px;
}

#rastyjka_top embed {
	width: 1004px;
}