* {box-sizing: border-box; -moz-box-sizing: border-box;}
body {font: 100% Arial, Helvetica; color:#000; padding:0; margin:0; background:url("/images/theme/bgp.gif") center repeat-y;}
td, th {font-size: 75%;}
form {margin: 0;}
input, select, textarea {font: 12px Arial, Helvetica;}
a {color: #006; text-decoration: underline;}

h1 {font-size:150%; color:#000; margin:0 0 10px 0; padding:0;}
h3 {font-size:130%; color:#000; margin:0 0 10px 0; padding:0;}
h4 {font-size:120%; color:#000; margin:0 0 10px 0; padding:0;}
h5 {font-size:110%; color:#000; margin:0 0 5px 0; padding:0;}

.mobilebanner {position:absolute;}
.mobilebanner img {border:0;}
.mobilebanner .android {position:absolute;left:-35px;top:139px;}
.mobilebanner .mobile {position:absolute;left:-35px;top:185px;}
.mobilebanner .ios {position:absolute;left:-35px;top:414px;}

.main {border-collapse:collapse; width:1000px;}
.main td {padding:0; margin:0;}
.main td.bgt {background:url("/images/theme/bg-menu.gif") repeat-x;}
.main td.bgb {background:url("/images/theme/bg-copy.gif") repeat-x;}

.main td.c0 img {width:10px; height:10px;}
.main td.c1 img {width:250px; height:10px;}
.main td.c2 img {width:550px; height:10px;}
.main td.c3 img {width:160px; height:10px;}

.main .dbl-col {border-collapse:collapse; width:550px;}
.main .dbl-col td {padding:0; margin:0;}
.main .dbl-col td.c {width:270px;}

.main td.copy {height:117px; padding:27px 10px 20px 10px; color:#fff; background:url("/images/theme/bg-copy.gif") top repeat-x; font-size:70%;}
.main td.copy a {color:#fff;}

.header {border-collapse:collapse; width:980px; background:url("/images/theme/bg-menu.gif") repeat-x; height:128px;}
.header td {padding:0; margin:0;}
.header td.logo {width:175px;}
.header td.logo img {width:160px; height:62px; border:0; margin:10px 15px 10px 0;}

.header td.nav-link {padding-top: 10px;}
.header td.nav-link div {font-size:11px; color:#fff; padding: 0 10px 7px 10px;}
.header td.nav-link div a {color:#fff;}


.header .path {color:#fff;font-size:100%;padding-bottom:22px;}
.header .path a {color:#fff;}
.header .path img {width:11px;height:11px;border:0;}
.header .path .arr-h {margin:0 6px 0 0;}
.header .path .arr-r {margin:0 6px 0 5px;}
.header .path .arr-b {margin:0 6px -3px 5px;}
.header .path .title {padding:6px 0 0 0;font-size:160%;}
.header .path .title a {text-decoration:none;}

.header .nav {border-collapse:collapse; height:43px;}
.header .nav th {padding:0 15px 0 15px; margin:0; background:url("/images/theme/bg-menu-el.gif"); border:1px solid #ff0; border-bottom:1px solid #dddd32; font-weight:normal;}
.header .nav th.sel {padding:0 15px 0 15px; margin:0; background:url("/images/theme/bg-menu-sel.gif"); border:1px solid #fff; font-weight:normal; color:#000;}
.header .nav th.sel a {color:#000; text-decoration:none;}
.header .nav td {padding:0;}
.header .nav td img {width:1px; height:43px; border:0;}
.header .nav a {font-size:14px; position:relative; top:-1px; font-weight:bold;}

.header .search {border-collapse:collapse; margin: 10px 0 17px 10px;}
.header .search td {padding:0; margin:0;}
.header .search input {font-size:11px;}
.header .search .btn {padding-left:3px;}

.main .main-news {padding:1px; margin-bottom:10px; border:1px solid #ccc;}
.main .main-news table {border-collapse:collapse; width:546px; background:url("/images/theme/bg-mnews.gif") repeat-x;}
.main .main-news table td {padding:10px; margin:0; width:268px;}
.main .main-news table td.del {width:10px; padding:0;}


.block {border-collapse:collapse; border-top:2px solid #006;}
.block td {padding:0; margin:0; vertical-align:top;}
.block td.cnt {padding:10px; width:100%;}

.block2 {background:url("/images/theme/bg-mnews.gif") repeat-x; padding:10px;}

.block-txt {border:1px solid #ccc; border-top:2px solid #f00; background:#ffffe5; margin-bottom:10px; padding:10px;}
.block-txt h3 {color:f00;}

.wp-logo {float:left; width:100px; margin:0 10px 5px 0; border:1px solid #ccc;}
.sm-logo {float:left; width:70px; border:1px solid #ccc; margin:0 10px 5px 0;}
.sm-text {font-size:90%; color:#777;}
.sm-text a {color:#777;}

.tbl-services {width:170px; margin:0 0 10px 10px; padding:0; float:right;}
.tbl-link-services {width:170px; margin:0 0 10px 0; border-collapse:collapse; border:0; background:url("/images/theme/bg-mnews.gif") repeat-x;}
.tbl-link-services td {padding:5px; vertical-align:top; font-size:70%;}
.tbl-link-services th {padding:5px 0 5px 5px; vertical-align:top;}
.tbl-link-services th img {width:16px; height:16px; border:0;}

.tbl-tn-list {width:170px; margin:0 0 10px 0; border-collapse:collapse; border:0; background:url("/images/theme/bg-mnews.gif") repeat-x;}
.tbl-tn-list td {padding:9px 9px 0 9px; vertical-align:top;}
.tbl-tn-list th {padding:3px 9px 9px 9px; text-align:left; font-size:80%; font-weight:normal;}
.tbl-tn-list td img {width:150px; height:100px; border:1px solid #ccc;}

.tbl-big-picture {width:150px; margin:0; padding:0; border-collapse:collapse;}
.tbl-big-picture img {border:1px solid #ccc; margin:0 0 5px 0;}

.tbl-nav-slideshows {margin:10px 0 0 0; padding:0; border-collapse:collapse; background-image:url("/images/pcweek/slideshows-bg.gif"); width:100%; height:55px; border-top:1px solid #000;}
.tbl-nav-slideshows td {font-size:70%;}
.tbl-nav-slideshows img {border:0;}

.tbl-big-picture-list {border-collapse:collapse; width:100%;}
.tbl-big-picture-list td {width:33%; padding:5px 5px 10px 5px; text-align:center; margin:0; vertical-align:top;}
.tbl-big-picture-list img {width:150px; height:100px; border:1px solid #ccc; margin-bottom:3px;}

.tbl-top-article {border-collapse:collapse; width:100%; background:url("/images/theme/bg-mnews.gif") repeat-x;}
.tbl-top-article th {font-weight:normal; font-size:90%; padding:10px 10px 20px 10px; text-align:left; vertical-align:top;}
.tbl-top-article th h3 {font-size:110%; margin-bottom:7px;}
.tbl-top-article th img {width:230px; height:130px; border:1px solid #ccc; margin:0 10px 0 0; float:left;}
.tbl-top-article td {font-size:80%; font-weight:normal; padding:10px 10px 20px 10px; vertical-align:top;}


.article-text {font-size: 120%;}
.article-text h1 {font-size: 130%; margin-top: 15px;}
.article-text h2 {font-size: 120%; margin-top: 15px;}
.article-text h3 {font-size: 110%; margin-top: 15px;}
.article-text h4 {font-size: 100%; margin-top: 10px;}
.article-text h5 {font-size: 90%; margin-top: 10px;}
.article-text table {background-color:#fff; border-collapse:collapse; width:100%;}
.article-text table caption {font-size:80%; font-weight:bold; padding:3px 3px 6px 3px;}
.article-text table th {border:1px solid #ccc; background-color:#F3F3F3; padding:3px;}
.article-text table td {border:1px solid #ccc; padding:3px;}
.article-text a {text-decoration:underline !important;}
.article-text blockquote {font-size:90%; background-color:#f3f3f3; padding:10px; margin:0 0 10px 0;}
.article-text blockquote ul {margin-left:20px;}
.article-text blockquote ol {margin-left:25px;}


div.break {width:100%; height:10px; border-top:1px solid #ccc; margin:0; padding:0;}
.starrequired {color:red; font-size:140%; font-weight:bold; line-height:10px;}
.rmsg {color:red; font-weight:bold; text-align:center;}
.captcha {width:180px; height:40px; float:left; margin:0 5px 5px 0;}

.tbl-subscribe {background-color:#fff; width:100%; border-collapse:collapse;}
.tbl-subscribe th {border:1px solid #ccc; background-color:#F3F3F3; padding:3px;}
.tbl-subscribe td {border:1px solid #ccc; padding:3px;}

.subnav {width:100%; border-collapse:collapse; margin:10px 0 0 0; padding:0;}
.subnav td {padding:3px; border-bottom:1px solid #ccc;}
.subnav th {padding:5px 10px 5px 10px; border:1px solid #ccc; background:url("/images/theme/bg-subnav-g.gif");}
.subnav th.sel {border-bottom:1px solid #fff !important; background:url("/images/theme/bg-subnav-w.gif");}
.subnav th.sel a {color:#000; text-decoration:none;}

.dashlink {border-bottom:1px dashed #000; cursor:pointer; cursor:hand;}
a.dashlink {text-decoration:none; color:#000;}





#bigdivbox
{
//text-align:center;
position:fixed;
width:100%;
height:100%;
top:0;
left:0;
right:0;
z-index:2;
background:rgba(0, 0, 0, 0.6);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#90000000,endColorstr=#90000000);
//position:absolute;
//top:expression(document.getElementsByTagName('body')[0].scrollTop + "px");
}
 
#divbox 
{
position:relative;
text-align:center;
background:#f5f5f5;
color:#fff;
width:650px; 
height:510px;
margin:auto;
}
#divbox a.close
{
position:absolute; 
top:0;
right:0;
padding:4px;
}
#divbox .imgban
{
margin:20px 0 0 0;
} 



